#social-media {
  /* max-height: 100px; */
}
.container-social-media {
  display: flex;
  justify-content: center;
}
.container-social-media > div {
  margin: 10px;
}
.logo-red {
  width: 30px;
  transition: ease-in-out 4s;
  /* margin: 10px; */
  animation: up-down 4s infinite;
  /* margin-top: 100px; */
}
.middle {
  /* transition: ease-in-out 4s; */
  animation: up-down-middle 4s infinite;
}

@keyframes up-down {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

@keyframes up-down-middle {
  50% {
    transform: scale(1);
  }
  0%,
  100% {
    transform: scale(1.3);
  }
}
