@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
#info {
  margin-bottom: 100px;
}
.cards-lerma {
  color: black;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 45px;

  flex-wrap: wrap;
}
.modal-post {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
.tache {
  width: 30px;
  margin: 10px;
  position: fixed;
}
.title-info-modal {
  font-size: 2.4rem;
}
.modal-post > div {
  text-align: center;
  font-family: "Mulish", sans-serif;

  margin: 15px;
  font-size: 50px;
}
.parrafo-info {
  font-size: 1.2rem;
  text-align: left;
}
.card-title {
  text-align: left;
}
@media only screen and (min-width: 1200px) {
  .cards-lerma {
    width: 60%;
  }
}
